body {
  margin: 0;
  /* font-family: "Kanit", sans-serif; */
  font-family: "Pacifico", cursive;
  background-color: none;
}

a {
  text-decoration: none;
}

.body {
  display: grid;
  height: 100vh;
  grid-template-columns: 19% 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 1fr;
}

/* Sidebar.jsx CSS */

.Sidebar {
  background-color: rgb(227, 238, 248);
  padding: 3vh 10px;
  height: 94vh;
  grid-column-start: 1;
  grid-column-end: 2;
  /* //////////// */
  position: fixed;
  width: 210px;
}

.Sidebar h1 {
  cursor: default;
  width: fit-content;
  margin: 0px auto;
  padding: 8px 12px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 29px;
  background-color: rgb(207, 226, 243);
  text-align: center;
}

.Sidebar h2 {
  font-weight: 500;
  margin: 15px 0px 5px 0px;
}

.Sidebar ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.Sidebar li {
  /* margin: 5px 0px; */
  padding: 8px 20px;
  border-radius: 15px;
  cursor: pointer;
  /* width: fit-content; */
}

.Sidebar a {
  color: black;
}

.Sidebar li:hover {
  background-color: rgb(210, 223, 238);
}

/* Navbar.jsx CSS */

.modal-side {
  background-color: rgb(227, 238, 248);
  width: fit-content;
  padding: 3vh;
  height: 94vh;
  grid-column-start: 1;
  grid-column-end: 2;
  position: fixed;
  animation: slide-menu 0.3s forwards;
}

@keyframes slide-menu {
  0% {
    left: -20%;
  }
  100% {
    left: 0;
  }
}

.modal-side h1 {
  cursor: default;
  margin: 0px;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 500;
  background-color: rgb(207, 226, 243);
}

.modal-side h2 {
  font-weight: 500;
  margin: 15px 0px 5px 0px;
}

.modal-side ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.modal-side li {
  /* margin: 5px 0px; */
  padding: 8px 20px;
  border-radius: 15px;
  cursor: pointer;
  /* width: fit-content; */
}

.modal-side a {
  color: black;
}

.modal-side li:hover {
  background-color: rgb(210, 223, 238);
}

.Navbar {
  background-color: rgb(207, 226, 243);
  height: fit-content;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 4;
  position: fixed;
  top: 0;
  right: 0;
  left: 16%;
  /* width: 84vw; */
}

.left-menu {
  display: flex;
}

.left-menu li {
  display: none;
  cursor: pointer;
  margin: auto 0px auto 10px;
}

.Nav-left {
  padding: 0px 10px;
}

.Nav-left h1 {
  margin: 0;
  width: fit-content;
  font-size: 50px;
  font-weight: 500;
}

.Nav-left p {
  margin: 1px;
}

.Nav-right {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.Nav-right h3 {
  height: fit-content;
}

.stu-img {
  background-color: rgb(245, 245, 240);
  background-image: url("https://api.iconify.design/material-symbols:person.svg");
  height: 7px;
  padding: 20px 30px 20px 20px;
  border-radius: 15px;
  width: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}

.stu-img:hover {
  background-color: rgb(236, 233, 233);
}

.stu-details {
  background-color: #e1edf7;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  top: 10px;
  right: 5px;
  animation: details 0.5s forwards ease-in-out;
}

@keyframes details {
  0%{
    right: 5%;
    top: 5%;
  }
  100%{
    right: 5%;
    top: 10%;
  }
}

/*   Changepassword.jsx   */

.CP-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: login 0.5s forwards; */
}

.CP-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 350px;
  margin: 50px 0 30px 0;
  padding: 20px;
  background-color: rgb(242, 242, 242);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}


.CP-box h2 {
  /* font-family: "Pacifico", cursive; */
  font-size: 30px;
  margin: 10px 0px 0px 0px;
}

.CP-box label {
  font-weight: 800;
  margin: 15px 0px 9px 20px;
  align-self: flex-start;
  font-weight: 600;
}

.CP-box input {
  width: 300px;
  height: 25px;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  border: 2px solid gray;
  align-self: center;
  font-size: 15px;
}



.change-password {
  background-color: #b8dcf7;
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px 10px;
  margin: 15px auto 0px auto;
  cursor: pointer;
}


.changepass button {
  margin: 10px auto 20px auto;
}

.changepass {
  margin: 0;
}

.changepass p{
  display: block;
  padding: 0;
  margin: 10px 0px 0px 0px;
  color: red;
  font-size: 12px;
  font-weight: 500;
}

.modal-changepass {
  position: fixed;
  animation: all 0.3s forwards;
}

@keyframes all {
  0% {
    right: -20%;
  }
  100% {
    right: 5%;
  }
}

.close-CP {
  align-self: end;
  height: fit-content;
  font-size: 20px;
  cursor: pointer;
}

.close-CP:hover {
  background-color: rgb(198, 196, 196);
}

.close-CP:active {
  background-color: rgb(217, 217, 217);
}


/* ForgetPassword.jsx */

.Forget-password{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  width: 350px;
  border: none;
}

.Forget-password input {
  width: 300px;
  height: 25px;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  border: 2px solid gray;
  align-self: center;
  font-size: 15px;
}

.Forget-password label {
  font-weight: 800;
  margin: 15px 0px 9px 20px;
  align-self: flex-start;
  font-weight: 600;
}

.Forget-password button{
  text-decoration: none;
  align-self: center;
  margin: 30px 0px 20px 0px;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #11af22;
  border: 2px solid #11af22;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  padding: 0px;

}






/* Results_graph.jsx CSS */

.Results_graph {
  /* height: 50vh; */
  width: 50vw;
  border: 10px solid rgb(231, 239, 246);
  padding: 10px;
  margin: 50px auto 0px 20px;
  /* margin: 20px auto 10px 20px; */
  border-radius: 27px;
  background-image: url("https://datavizcatalogue.com/methods/images/top_images/area_graph.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* Activity.jsx CSS */

.Activity {
  background-color: blanchedalmond;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  align-items: center;
  height: fit-content;
  /* margin: 20px; */
  margin: 50px 20px 0px 20px;
  padding: 10px;
  border-radius: 20px;
}

.Activity h3 {
  /* background-color: rgb(206, 167, 108); */
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  margin: 25px 25px 20px 25px;
  animation: glow 0.3s infinite alternate;
}

@keyframes glow {
  0% {
    color: rgb(226, 10, 10);
  }
  /* 50%{
  color: rgb(230, 172, 57);
} */
  100% {
    color: rgb(185, 185, 192);
  }
}

.Activity-img {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  margin: auto;
}

.Activity-item {
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0px 20px;
  border-radius: 20px;
  font-size: 20px;
}
.Activity-item:hover {
  background-color: rgb(252, 221, 174);
}

/* GoogleCalendar.jsx CSS */

.GoogleCalendar {
  grid-row-start: 2;
  grid-row-end: 4;
  font-family: "Roboto", sans-serif;
  width: 60vw;
  padding-top: 30px;
  grid-column-start: 2;
  grid-column-end: 4;
  margin: auto;
  margin-top: 50px;
}

.GoogleCalendar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.CalendarControls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.CalendarControls select {
  margin: 0 10px;
}

.CalendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  /* background-color: white; */
  padding: 10px 0px;
}

.Weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap:4px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  /* background-color: white; */
  padding: 10px 0px;
}

.Weekdays div {
  margin: 2px 0px;
  padding: 7px;
  border: 1px solid black;
  background-color: rgb(196, 212, 228);
}

.CalendarDay {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.CalendarDay.Inactive {
  background-color: #f8f8f8;
  color: #aaa;
}

.CalendarDay.CurrentDay {
  background-color: rgb(5, 133, 245); /* Highlight color for the current day */
  color: #fff;
}

.CalendarDay:hover {
  background-color: #e0e0e0;
}

.DayNumber {
  font-size: 1.2em;
  font-weight: bold;
}

.CurrentDayNumber {
  color: #fff;
}

.CalendarControls select {
  /* width: 50px; */
  background-color: rgb(189, 219, 245);
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
}

/* Asnmt_page.jsx css */

.questions {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.form h2 {
  font-weight: 500;
}

.opt {
  margin: 10px 0px;
}

input[type="radio"] {
  cursor: pointer;
}

.questions label {
  cursor: pointer;
}

.form h2 {
  margin: 20px 10px;
  text-align: center;
}

.questions h3 {
  margin: 20px 10px;
}

.form h1 {
  margin: 40px;
  text-align: center;
}

.q-btns {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.q-btns button {
  background-color: rgb(21, 206, 21);
  color: black;
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}


/* contactus  */

.contact {
  border: none;
  background-color: rgb(227, 238, 248);
}

.contact:hover {
  background-color: rgb(210, 223, 238);
}

.contactbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e6f1f6;
  margin: 0px;
  height: 50vh;
  width: 50vw;
  border-radius: 20px;

  /* Add responsive styling */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.contactphone,
.contactemail,
.contactchatbot {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.phoneimage,
.emailimage,
.chatbotimage {
  margin-bottom: 10px;
}

.info {
  font-size: 18px;
  margin-top: 5px;
}

.phoneNo a,
.email a {
  color: rgb(53, 167, 219);
  text-decoration: none;
}

.phoneNo a:hover,
.email a:hover {
  text-decoration: underline;
}
.Contactmodal {
  position: fixed;
  animation: slideInFromDown 0.3s forwards;
  top: -100%; /* Initial position above the viewport */
}

/* counsellor */

.councellerbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  height: 300px;
  width: 600px;
  background-color: #e6f1f6;
  border-radius: 10px;
}

.psychiatrist, .chat {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.psychiatristimage,.chatimage {
  background-color: #e6f1f6;
  border: none; 
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  margin: auto;
  transition: slideInFromDown 0.3s, color 0.3s;
}

button:hover {
   /* Set your desired hover background color */
  color: #ffffff; /* Set your desired hover text color */
}


/* Footer,jsx */

.site-footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100vw;
  height: fit-content;
  align-self: self-end;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  position: fixed;
  bottom: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facebook,.twitter,.instagram {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.facebook:hover {
  color: #007bff;
}
.twitter:hover{
  color: black;

}
.instagram:hover{
  color:rgb(194, 15, 15)
}



@keyframes slideInFromDown {
  0% {
    top: -100%;
  }
  100% {
    top: 5%;
  }
}






/*    MEDIA QUERIES    */

/* For smaller screens (phones) */
@media only screen and (max-width: 750px) {
  /* Your CSS styles here */
  .Sidebar {
    display: none;
  }
  .left-menu li {
    display: flex;
  }
  .GoogleCalendar {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .form {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .Navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    left: 0;
    width: 100%;
    position: fixed;
  }
  .Nav-left p {
    display: none;
  }

  .Nav-left h1 {
    font-size: 35px;
  }
  .modal-side {
    width: 100px;
  }
  .modal-side h1 {
    font-size: 20px;
  }
  .Nav-right h3{
    display: none;
  }

  .modal-side h2 {
    font-size: 18px;
  }
  .modal-side {
    font-size: 12px;
  }
  .stu-details {
    /* modal */
    font-size: 13px;
  }
  .Results_graph {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 30px auto;
    height: 300px;
    width: 80vw;
  }
  .Activity {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: fit-content;
    margin: 30px auto;
  }


  /* Changepassword.jsx */

  .CP-box{
    width: 300px;
  }
  .CP-box h2{
    font-size: 25px;
  }
  .CP-box input{
    width: 250px;
    height: 20px;
  }
  .lg-btn{
    width: 250px;
    height: 30px;
  }




}

/* For tablets */
@media only screen and (min-width: 750px) and (max-width: 1024px) {
  /* Navbar */
  .Navbar {
    position: fixed;
    right: 0;
    top: 0;
    left: 19%;
  }
  .Nav-left h1 {
    font-size: 35px;
  }
  .Nav-left p {
    font-size: 10px;
  }
  .Nav-right h3 {
    font-size: 15px;
  }
  .stu-details {
    font-size: 15px;
  }
  /* Sidebar */
  .Sidebar {
    position: fixed;
    width: 15%;
    padding: 3vh 2%;
  }
  .Sidebar h1 {
    font-size: 20px;
    width: fit-content;
    padding: 8px 10px;
  }
  .Sidebar h2 {
    font-size: 18px;
  }
  .Sidebar li {
    font-size: 12px;
  }

  .Results_graph {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 30px auto;
    height: 300px;
    width: 60vw;
  }
  .Activity {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: fit-content;
    margin: 30px auto;
  }
}

/* For larger screens (desktops) */
@media only screen and (min-width: 1025px) {
  .Sidebar {
    position: fixed;
    width: 17%;
    padding: 3vh 1%;
  }
  .Navbar {
    position: fixed;
    right: 0;
    top: 0;
    left: 19%;
  }
}
